
<md-sidenav-container class="demo-sidenav-container" fullscreen>
  <md-sidenav #focusSidenav class="chat-card">
    <md-nav-list >
      <div *ngFor="let chat of chatList">

        <div class="row" style="padding: 10px">
          <div class="col-md-8">
            <img src="{{chat.image}}" class="chat-card-img" alt="">
          </div>
          <div class="col-md-4" style="text-align: left">
            <h4 >{{ chat.name }}</h4>
          </div>
          <br>

        </div>
        <p> reply kardo larkay?</p>

      </div>
    </md-nav-list>
  </md-sidenav>

  <div class="demo-sidenav-content">
    <h1>My Content</h1>

    <div>
      <header>Sidenav</header>
      <button md-button (click)="focusSidenav.toggle()">Toggle Drawer</button>


    </div>
  </div>
</md-sidenav-container>
